<style>
    .header-banner {
        background-image: url('../../assets/uploads/staff-medico.jpg');    
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .text-color-dark {
        color: #17709C;
    }

    .header-title {
        background-color: #E2EBED;
        color: #17709C;
        padding: 0.5em;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .about-section {
        color: #333;
        padding: 40px 0;
    }

        .about-section p {
            font-size: 1.1rem;
            margin-bottom: 15px;
        }

            .about-section p.lead {
                font-weight: bold;
                color: #555;
            }

    #card-promo {
        background-color: #D9EBFE;
        color: #17709C;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }

        #card-promo:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .informazioni-section h3 {
        color: #17709C;
    }


    .social-post {
        border: 1px solid #e1e1e1;
        border-radius: 8px;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .social-post img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
            height: auto;
        }

        .social-post .content {
            padding: 15px;
        }

        .social-post .actions {
            padding: 0 15px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .social-post .actions i {
                cursor: pointer;
            }

            .social-post .actions .likes,
            .social-post .actions .comments,
            .social-post .actions .shares {
                display: flex;
                align-items: center;
            }

            .social-post .actions i:hover {
                color: #007bff;
            }

        .social-post .post-info small {
            color: #666;
        }

    .testimonials-section {
        background-color: #17709C;
        color: #FFFFFF;
        font-family: "Open Sans", sans-serif;
    }

    .text-custom {
        color: #2E73A2;
    }
</style>


<main>
    @if (!User.IsInRole("admin"))
    {
        <div class="header-banner d-flex justify-content-center align-items-end">
            <h1 class="header-title">Al Centro della Tua Salute</h1>
        </div>
        <div class="about-section text-center">
            <div class="container my-5">
                <p class="lead">CliniCare360 è un centro all'avanguardia dedicato alla salute e al benessere.</p>
                <p>Con tecnologie all'avanguardia e un team di professionisti esperti, CliniCare360 è il luogo ideale per prendersi cura della propria salute in un ambiente accogliente e professionale.</p>
            </div>
        </div>
    }


    @if (User.IsInRole("admin"))
    {
        <div class="d-flex justify-content-end mb-3 mt-3">
            <div>
                <a href="@Url.Action("AddPost", "Home")" class="btn btn-outline-primary custom-back-btn btn-lg">Aggiungi</a>
            </div>
        </div>

    }

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="display-5 mb-4 mb-md-5 text-center text-color-dark">Servizi in promozione</h2>
                <hr class="w-50 mx-auto mb-4 mb-xl-9 border-dark-subtle">
            </div>
        </div>

        <div class="row justify-content-center g-5">
            @if (ViewBag.PostInfo != null)
            {
                foreach (var post in ViewBag.PostPromo)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div id="card-promo" class="card h-100 d-flex flex-column justify-content-between border-0">
                            @if (post.ImgPost != null && post.ImgPost.Length > 0)
                            {
                                string imgBase64 = Convert.ToBase64String(post.ImgPost);
                                string imgSrc = String.Format("data:image/jpeg;base64,{0}", imgBase64);
                                <img src="@imgSrc" alt="@post.Titolo" class="card-img-top rounded-0" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Assets/uploads/slide3.jpg")" alt="@post.Titolo" class="card-img-top rounded-0" />
                            }
                            <div class="card-body">
                                <h5 class="card-title">@post.Titolo</h5>
                                <p class="card-text text-black">@post.Contenuto</p>
                            </div>
                            <div class="card-footer bg-transparent">

                                @if (User.IsInRole("admin"))
                                {
                                    <div class="d-flex justify-content-between">
                                        <a href="@Url.Action("EditPost", "Home", new { id = post.PostId })" class=" nav-item btn btn-outline-secondary border-0">Modifica</a>
                                        <a class="nav-item">
                                            @Html.ActionLink("Elimina", "DeletePost", "Home", new { id = post.PostId }, new { @class = "btn btn-outline-danger border-0", @role = "button" })
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-end">
                                        <a class="nav-item">@Html.ActionLink("I nostri servizi", "Index", "Prestazioni", new { area = "" }, new { @class = "btn text-color-dark  border-0" })</a>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                }
            }
        </div>

    </div>


    @if (!User.IsInRole("admin"))
    {


        <div class="container d-flex flex-column align-items-center">
            <div class="card mb-3 w-100 border-0 m-5 mb-5">
                <div class="row g-0 m-3 align-items-center">
                    <div class="col-md-4 p-5">
                        <img src="~/Assets/uploads/vitasana.jpg" class="img-fluid shadow " alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-0">
                            <h2 class="card-title text-custom">Prossimi Eventi e Workshop</h2>
                            <p class="card-text ">
                                <ul class="list-unstyled">
                                    <li class="mb-1"><strong>Workshop di Nutrizionce</strong> - 15 Luglio 2024</li>
                                    <li class="mb-1"><strong>Seminario sulla Salute Mentale</strong> - 22 Agosto 2024</li>
                                    <li class="mb-1"><strong>Corso di Yoga per Principianti </strong>- 5 Settembre 2024</li>
                                    <li class="mb-1"><strong>Conferenza sul Benessere Olistico</strong> - 19 Settembre 2024</li>
                                    <li class="mb-1"><strong>Workshop su Gestione dello Stress</strong> - 3 Ottobre 2024</li>
                                    <li class="mb-1"><strong>Simposio di Medicina Alternativa</strong> - 17 Ottobre 2024</li>
                                    <li class="mb-1"><strong>Workshop di Arteterapia</strong> - 31 Ottobre 2024</li>
                                    <li class="mb-1"><strong>Workshop di Terapia</strong> - 10 Novembre 2024</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 w-100 border-0 m-5 mb-5">
                <div class="row g-0 m-3 align-items-center">
                    <div class="col-md-8">
                        <div class="card-body p-0">
                            <h5 class="card-title text-custom">Consigli per una Vita Sana</h5>
                            <p class="card-text">
                                Mantenere un'adeguata idratazione è fondamentale per il benessere quotidiano, soprattutto durante i mesi estivi quando le temperature possono salire significativamente. Bere acqua sufficiente aiuta a regolare la temperatura corporea, mantenere le funzioni delle cellule e facilitare la digestione. È consigliato bere almeno 8 bicchieri d'acqua al giorno e aumentare l'assunzione in caso di attività fisica intensa o esposizione prolungata al calore.
                            </p>
                            <p class="card-text">
                                Oltre a bere acqua, è importante adottare un'alimentazione equilibrata ricca di frutta e verdura, che contribuisce ulteriormente all'apporto idrico. Evitare bevande zuccherate e alcoliche, che possono portare a disidratazione, è un altro passo essenziale per mantenere una buona salute.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center p-5">
                        <img src="~/Assets/uploads/acqua.jpg" class="img-fluid shadow" alt="...">
                    </div>
                </div>
            </div>

            <div class="card mb-3 w-100 border-0 m-5 mb-5">
                <div class="row g-0 m-3 align-items-center">
                    <div class="col-md-4 p-5">
                        <img src="~/Assets/uploads/esamenew.jpg" class="img-fluid shadow " alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-0">
                            <h5 class="card-title text-custom">Scopri i Nostri Nuovi Servizi</h5>
                            <p class="card-text">
                                Siamo entusiasti di annunciare l'introduzione della nuova scansione DEXA, una tecnologia avanzata per una valutazione precisa della densità ossea e della composizione corporea. Questo strumento diagnostico di ultima generazione offre un'analisi dettagliata che aiuta a identificare i rischi di osteoporosi e altre condizioni correlate alla densità ossea.
                            </p>
                            <p class="card-text">
                                La scansione DEXA non solo misura la densità ossea, ma fornisce anche una ripartizione esatta della massa grassa, della massa magra e del contenuto minerale osseo del corpo. Questo permette ai medici di fornire consigli personalizzati per migliorare la salute generale, ottimizzare i regimi di fitness e monitorare i cambiamenti nel tempo.
                            </p>


                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="mt-5">
            <div class="testimonials-section text-center">
                <h2 class="pt-5 fw-bolder">Testimonianze dei nostri pazienti</h2>
                <div class="row g-3 justify-content-around">
                    <div class="col-md-4 p-5 ">
                        <div class="d-flex flex-column align-items-center">
                            <img src="~/Assets/uploads/paz1.jpg" alt="Paziente" class="rounded-circle mb-3" width="150" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
                                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
                            </svg>
                            <h4 class="mb-3">Elena Rossi</h4>
                            <p class="fw-lighter fst-italic">"Un servizio impeccabile e attento, mi sono sentito in ottime mani durante tutto il trattamento."</p>
                        </div>

                    </div>
                    <div class="col-md-4 p-5 ">
                        <div class="d-flex flex-column align-items-center">
                            <img src="~/Assets/uploads/paz2.jpg" alt="Paziente" class="rounded-circle mb-3" width="150" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
                                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
                            </svg>
                            <h4 class="mb-3">Giovanni Bianchi</h4>
                            <p class="fw-lighter fst-italic">"La professionalità del personale e la tecnologia all'avanguardia fanno la differenza."</p>
                        </div>
                    </div>
                    <div class="col-md-4 p-5">
                        <div class="d-flex flex-column align-items-center">
                            <img src="~/Assets/uploads/paz3.jpg" alt="Paziente" class="rounded-circle mb-3" width="150" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
                                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z" />
                            </svg>
                            <h4 class="mb-3">Emma Verdi</h4>
                            <p class="fw-lighter fst-italic"> "Consigli utili e un'accoglienza calda. Grazie per la vostra dedizione alla salute dei pazienti!"</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }
        <div class="container mt-5">
            <div class="row justify-content-center mt-5">
                <div class="col-md-10">
                    <div class="section-intro text-center">
                        <div class="row justify-content-md-center">
                            <div>
                                <h2 class="display-5  mb-md-5 text-center text-color-dark mt-5">Approfondimenti e Novità</h2>
                                <hr class="w-50 mx-auto mb-3 mb-xl-9 border-dark-subtle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-md mt-3 mb-5">
            <div class="row justify-content-center g-5">
                @if (ViewBag.PostInfo != null)
                {
                    foreach (var post in ViewBag.PostInfo)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card h-100 d-flex flex-column justify-content-between border-0 ">
                                @if (post.ImgPost != null && post.ImgPost.Length > 0)
                                {
                                    string imgBase64 = Convert.ToBase64String(post.ImgPost);
                                    string imgSrc = String.Format("data:image/jpeg;base64,{0}", imgBase64);
                                    <img src="@imgSrc" alt="@post.Titolo" class="card-img-top rounded-0" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Assets/uploads/slide3.jpg")" alt="@post.Titolo" class="card-img-top rounded-0" />
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@post.Titolo</h5>
                                    <p class="card-text">@post.Contenuto</p>
                                </div>
                                <div class="card-footer bg-transparent">

                                    @if (User.IsInRole("admin"))
                                    {
                                        <div class="d-flex justify-content-between">
                                            <a href="@Url.Action("EditPost", "Home", new { id = post.PostId })" class=" nav-item btn btn-outline-secondary border-0">Modifica</a>
                                            <a class="nav-item">@Html.ActionLink("Elimina", "DeletePost", "Home", new { id = post.PostId }, new { @class = "btn btn-outline-danger border-0", @role = "button" })</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-end">
                                            <a class="nav-item">@Html.ActionLink("I nostri servizi", "Index", "Prestazioni", new { area = "" }, new { @class = "btn text-color-dark  border-0" })</a>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>

                    }
                }
            </div>
        </div>


    </main>

<script>
    window.onload = function () {
        const updateMaxHeight = (selector) => {
            let maxHeight = 0;
            const cards = document.querySelectorAll(selector);
            cards.forEach(card => {
                if (card.offsetHeight > maxHeight) {
                    maxHeight = card.offsetHeight;
                }
            });
            cards.forEach(card => {
                card.style.height = maxHeight + 'px';
            });
        };

        updateMaxHeight('.info-card-height');
        updateMaxHeight('.promo-card-height');
    };
</script>