@model CliniCare360.Models.Users

<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Modifica il tuo profilo</h3>


                        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.UserId)
                            @Html.HiddenFor(model => model.Nome)
                            @Html.HiddenFor(model => model.Cognome)
                            @Html.HiddenFor(model => model.CodFiscale)
                            @Html.HiddenFor(model => model.DataNascita)
                            @Html.HiddenFor(model => model.Ruolo)
                            if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @TempData["ErrorMessage"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="mb-4">
                                        @Html.LabelFor(model => model.Indirizzo)
                                        @Html.EditorFor(model => model.Indirizzo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Indirizzo)
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="mb-4">
                                        @Html.LabelFor(model => model.Citta)
                                        @Html.EditorFor(model => model.Citta, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Citta)
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="mb-4">
                                        @Html.LabelFor(model => model.Telefono)
                                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telefono)
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="mb-4">
                                        @Html.LabelFor(model => model.ImgUser)
                                        @Html.TextBoxFor(model => model.ImgUser, new { @class = "form-control", type = "file" })
                                        @Html.ValidationMessageFor(model => model.ImgUser)
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="mb-4">
                                        @Html.LabelFor(model => model.Email)
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="mb-4">
                                        @Html.LabelFor(model => model.Password)
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>

                                </div>

                            </div>

                            <div class="row justify-content-center">
                                <div class="col-12 mb-2">
                                    <button type="submit" class="btn btn-success border-0 gradient-custom-4 text-white me-3">Modifica</button>
                                    <a href="@Url.Action("Profilo", "Users", new { id = Model.UserId })" class="btn btn-secondary custom-back-btn">Indietro</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



